<style>
    @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
</style>
<div class="naranja" style="background: var(--Blue, linear-gradient(180deg, #E66405 0%, #8A3302 84.79%, #793402 100%));">
    <span>Core Juegos</span>
    <p>Todos los Juegos.</p>
</div>
<div class="zonaRegistro">
    <h2>Bienvenido.</h2>
    <p>Que tal?</p>
    <input type="text" class="inputNombre" placeholder="Nombre" style="border-radius: 30px; border: 1px solid #EEE;background: #FFF;">
    <input type="text" class="inputEmail" placeholder="Email" style="border-radius: 30px; border: 1px solid #EEE;background: #FFF;">
    <input type="number" class="inputContraseña" placeholder="Nombre" style="border-radius: 30px; border: 1px solid #EEE;background: #FFF;">
    <button class="button">Registrarse</button>
</div>

<div class="clear"></div> 