<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ab7942aa6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
</head>
<body id="body">
    <div class="container-fluid main" style="height:100vh;padding-left:0px;">
        
        <div class="d-block d-md-none menu">

            <div class="bar"></div>
        
        </div>
        
        <div class="row align-items-center" style="height:100%">
    
        <div class="col-md-3 d-none d-md-block" style="height:100%" >
        
            <div class="container-fluid nav sidebar flex-column">
                <button routerLink="/inicio">Volver a Inicio</button>
                <a routerLink="/perfil/datos" class="nav-link mt-auto" style="color: #000000;"><i class="fa-solid fa-user-circle"></i> Mi Perfil y Datos</a>
                <a routerLink="/perfil/seguridad" class="nav-link active" style="color: #000000;"><i class="fa-solid fa-lock"></i> Seguridad y Privacidad</a>
                <a routerLink="/perfil/direccion" class="nav-link" style="color: #000000;"><i class="fa-solid fa-map-location-dot"></i>Mi Dirección</a>
                <a routerLink="/perfil/pagos" class="nav-link" style="color: #000000;"><i class="far fa-credit-card"></i>Tarjetas y Pagos</a>
            </div>
        
        </div>
        
        <div class="col-md-9">
            
            <div class="container content clear-fix">
        
                <h2 class="mt-5 mb-5">Mi Direccion</h2>
                
                
                <div class="col-md-9">
                    
                    <div class="container">
                    
                        <form>
                            <div class="form-group">

                                <label for=provincia><h3>Cambiar Dirección</h3></label>
                                <select class="form-select" id="provincia">
                                    <option selected>Provincia</option>
                                    <option value="1">Buenos Aires</option>
                                    <option value="2">Ciudad Autónoma de Buenos Aires</option>
                                    <option value="3">Catamarca</option>
                                    <option value="4">Chaco</option>
                                    <option value="5">Chubut</option>
                                    <option value="6">Córdoba</option>
                                    <option value="7">Corrientes</option>
                                    <option value="8">Entre Ríos</option>
                                    <option value="9">Formosa</option>
                                    <option value="10">Jujuy</option>
                                    <option value="11">La Pampa</option>
                                    <option value="12">La Rioja</option>
                                    <option value="13">Mendoza</option>
                                    <option value="14">Misiones</option>
                                    <option value="15">Neuquén</option>
                                    <option value="16">Río Negro</option>
                                    <option value="17">Salta</option>
                                    <option value="18">San Juan</option>
                                    <option value="19">San Luis</option>
                                    <option value="20">Santa Cruz</option>
                                    <option value="21">Santa Fe</option>
                                    <option value="22">Santiago del Estero</option>
                                    <option value="23">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
                                    <option value="24">Tucumán</option>   
                                  </select>
                                <label for=ciudad>Ciudad</label>
                                <input type="text" class="form-control" id="ciudad">

                                <label for=barrio>Barrio</label>
                                <input type="text" class="form-control" id="barrio">

                                <label for=calle>Calle y Altura</label>
                                <input type="text" class="form-control" id="calle">
                            </div>
                            
                            <div class="row mt-5">
                            
                                <div class="col">
                                
                                    <button type="button" class="btn btn-primary btn-block">Guardar Cambios</button>
                                
                                </div>
                                
                                <div class="col">
                                
                                    <button type="button" class="btn btn-default btn-block">Cancelar</button>
                                
                                </div>
                            
                            </div>

                        </form>
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>
            
        </div>
    
    </div>
    

</body>
</html>