*{
    font-family: Aldrich;
}

.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: #292929;
    height:100vw;
}
h1{
    color: #F57906;
}