<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Los Juegitos</title>
  </head>
  <body>
    <script>
        function sumador(num, tipo) {
  let total = parseInt(document.getElementById("totalizador").textContent)
  total = total + num
  document.getElementById("totalizador").textContent = total
  
  const lista = document.getElementById("lista-dinamica");
  
  const li = document.createElement("li");
  
  li.textContent = tipo + " Valor : " + num+"$";
  
  lista.appendChild(li);          
  
  
  }
      </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PS4</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PS4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#seccion1">PS3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">XBOX ONE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NINTENDO SWITCH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="carrito.html">Tu carrito</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-4">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="imagenes/dark sols.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dark Souls III</h5>
              <p class="card-text">Precio:1300$</p>
              <a class="btn btn-outline-primary">Comprar</a>
            </div>
          </div></div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="imagenes/batman-arkham-knight1-a80e8acd8cdda0e16915535401463378-640-0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Batman Arkham Knight</h5>
              <p class="card-text">Precio:1000$</p>
              <a  class="btn btn-outline-primary" onclick="sumador(1000,'Batman Arkham Knight')">Comprar</a>
            </div>
          </div></div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="imagenes/Enter-the-Gungeon-A-Farewell-to-Arms-ps4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Enter the Gungeon</h5>
              <p class="card-text">Precio:1100$</p>
              <a  class="btn btn-outline-primary" onclick="sumador(1100,'Enter the Gungeon')">Comprar</a>
            </div>
          </div></div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="imagenes/horizon__nombre_provisional_-3650681.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Horizon Zero Dawn</h5>
              <p class="card-text">Precio:900$</p>
              <a class="btn btn-outline-primary" onclick="sumador(900,'Horizon Zero Dawn')">Comprar</a>
            </div>
          </div></div>
    </div>
    <div class="col-4">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="imagenes/last.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Battlefield 1</h5>
              <p class="card-text">Precio:1000$</p>
              <a class="btn btn-outline-primary" onclick="sumador(1000,'The Last of Us')">Comprar</a>
            </div>
          </div></div>
    </div>
  <div class="p-3 mb-2 bg-secondary text-white" id="seccion1">Playstation 3</div>
        <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/batman-arkham-origins1-9407665f0f4c80651115857916626723-640-0.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batman Arkham Origins</h5>
                  <p class="card-text">Precio:600$</p>
                  <a class="btn btn-dark" onclick="sumador(600,'Batman Arkham Origins')">Comprar</a>
                </div>
              </div></div>
          </div>
          <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/infamous_2-1715256.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Infamous 2</h5>
                  <p class="card-text">Precio:800$</p>
                  <a class="btn btn-dark" onclick="sumador(800,'Infamous 2')">Comprar</a>
                </div>
              </div></div>
          </div>
          <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/RISING.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Metal Gear Rising</h5>
                  <p class="card-text">Precio:900$</p>
                  <a  class="btn btn-dark" onclick="sumador(900,'Metal Gear Rising')">Comprar</a>
                </div>
              </div></div>
          </div>
          <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/METAL GEAR.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Metal Gear Solid Collection</h5>
                  <p class="card-text">Precio:1000$</p>
                  <a class="btn btn-dark"onclick="sumador(1000,'Metal Gear Solid Collection')">Comprar</a>
                </div>
              </div></div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/gow.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">God of War Ascencion</h5>
                  <p class="card-text">Precio:800$</p>
                  <a  class="btn btn-dark" onclick="sumador(800,'God of War Ascenciòn')">Comprar</a>
                </div>
              </div></div>
      </div>
      <div class="p-3 mb-2 bg-success text-white" id="seccion1">XBOX ONE</div>
        <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/forza4.webp"card-img-top alt="...">
                <div class="card-body">
                  <h5 class="card-title">Forza Horizon 4</h5>
                  <p class="card-text">Precio:1200$</p>
                  <a class="btn btn-dark" onclick="sumador(600,'Forza Horizon 4')">Comprar</a>
                </div>
              </div></div>
          </div>
          <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/dead3.jpg
                " class="card-img-top" alt="...">a
                <div class="card-body">
                  <h5 class="card-title">Deadrising 3</h5>
                  <p class="card-text">Precio:1200$</p>
                  <a class="btn btn-dark" onclick="sumador(1200,'Deadrising 3')">Comprar</a>
                </div>
              </div></div>
          </div>
          <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/RISING.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Metal Gear Rising</h5>
                  <p class="card-text">Precio:900$</p>
                  <a  class="btn btn-dark" onclick="sumador(900,'Metal Gear Rising')">Comprar</a>
                </div>
              </div></div>
          </div>
          <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/METAL GEAR.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Metal Gear Solid Collection</h5>
                  <p class="card-text">Precio:1000$</p>
                  <a class="btn btn-dark"onclick="sumador(1000,'Metal Gear Solid Collection')">Comprar</a>
                </div>
              </div></div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
                <img src="imagenes/gow.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">God of War Ascencion</h5>
                  <p class="card-text">Precio:800$</p>
                  <a  class="btn btn-dark" onclick="sumador(800,'God of War Ascenciòn')">Comprar</a>
                </div>
              </div></div>
      </div>
  </div>
  <div class="col-12  d-flex justify-content-center ">
    <ul class="list-group d-block p-2 bg-warning text-white" id="lista-dinamica">
        <li class="list-group-item list-group-item-">Tus Juegos</li>
        
      </ul>
  </div>
  <div class="col-12">
    <div class="alert alert-primary d-block p-2 bg-warning text-white d-flex justify-content-center" role="alert" id="totalizador">
        0
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
