<style>
  @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
  </style>
<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">CORE.COM</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lanzamientos</a>
        </li>
        <li class="nav-item">
          <button class=botonRegistro mat-icon-button routerLink="/busqueda">
           Registro
        </button>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  