<style>
  @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
  </style>
<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">CORE.COM</a>
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tienda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- Agrega aquí los elementos del dropdown -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lanzamientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registro">Registro</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  