.navbar {
    font-family: 'Aldrich', sans-serif;
    padding: 10px 0;
    background-color:  #1E1E1E;
  }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 94, 0);
  }
  
  .nav {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    font-size: 18px;
  }
  
  /* Agrega estilos para el dropdown y otros elementos según tus necesidades */
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    border: 1px solid rgb(255, 94, 0);
    padding: 5px;
  }
  
  .search-button {
    background-color:rgb(255, 94, 0);
    color: black;
    border: none;
    padding: 5px 10px;
  }
  
  .cart-icon,
  .profile-icon {
    font-size: 24px;
    color: rgb(255, 94, 0);
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-link{
    color:rgb(255, 94, 0);
  }

  .botonRegistro{
    font-size: 18px;
    color:rgb(255, 94, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border-style:ridge
  }

.adminBoton{
  background-color: aliceblue;
}