<style>
  @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
  </style>
<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">CORE.COM</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Explorar</a>
        </li>
      </ul>
      <button mat-button routerLink="/admin" style="color: #F57906;" class="adminBoton" *ngIf="authService.usuarioLogueado">Administrador</button>
      <li class="nav-item">
        <button class=botonRegistro routerLink="/registro">
         Registro
      </button>
      <button class=botonRegistro routerLink="/login">
        Acceder
     </button>
     
      </li>
      <i class="bi bi-person-circle" style="color: aliceblue;" routerLink="/perfil">PERFIL</i>
    </div>
  </nav>
  