<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">CORE.COM</a>
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tienda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- Agrega aquí los elementos del dropdown -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lanzamientos</a>
        </li>
      </ul>
      <form class="search-form">
        <input class="search-input" type="text" placeholder="Buscar...">
        <button class="search-button" type="button"><i class="fa fa-search"></i></button>
      </form>
      <a class="cart-icon" href="#"><i class="fa fa-shopping-cart"></i></a>
      <a class="profile-icon" href="#"><i class="fa fa-user"></i></a>
    </div>
  </nav>
  