<div class="footer">
    <div class="diario">
        <p class="mensaje">MANTÉNGASE AL DÍA SOBRE NUESTRAS ÚLTIMAS OFERTAS</p>
        <input type="text" class="email" placeholder="Escriba su email">
        <button class="subscribirse">Subscribirse al Diario</button>
    </div>
    <div class="info">
        <div class="titulo">
            <p class="core">CORE.COM</p>
            <p class="texto">Los ultimos juegos y los primeros,<br> plataformas del hoy y ayer, en un <br> unico lugar</p>
        </div>
        <div class="compania">
            <p class="titulocompania">COMPAÑIA</p><br>
            <p class="companiatexto">Sobre Nosotros</p>
        </div>
        <div class="ayuda">
            <p class="tituloayuda">AYUDA</p>
            <p class="textoayuda">Ayuda a Cliente<br>Detalle de Delivery</p>
        </div>
        <div class="faq">
            <p class="titulofaq">FAQ</p>
            <p class="textofaq">Cuenta<br>Gestionar Envio</p>
        </div>
    </div>
</div>