<style>
    @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
</style>
<div class="naranja" style="background: var(--Blue, linear-gradient(180deg, #E66405 0%, #8A3302 84.79%, #793402 100%));">
    <span routerLink="/inicio2">Core</span>
    <p>Todos los Juegos.</p>
</div>
<div class="zonaRegistro">
    <h2>Hasta Pronto!</h2>
    <p>Estaresmos esperando.</p>
    <button class="button" mat-raised-button color="primary" (click)="salir()">Cerrar Sesión</button>
</div>

<div class="clear"></div> 