*{
  font-family: Aldrich;
}

.shopping-cart {
  background-color: #1F1F1F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
}
.product {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.product img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.product-details {
  flex: 1;
}

.product-title {
  font-weight: bold;
}

.product-price, .product-quantity, .product-removal, .product-line-price {
  width: 10%;
  text-align: center;
}

.product-quantity input {
  width: 30px;
  text-align: center;
}

.remove-product {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.remove-product:hover {
  background-color: #c9302c;
}

.totals {
  margin-top: 20px;
}

.totals .totals-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.totals .totals-item label {
  font-weight: bold;
}

.checkout {
  background-color: #F57906;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #ffac5f;
}
