<app-navbar></app-navbar>

<body>
<section class="shopping-cart">
    <!-- Sample Product Entry -->
    <div class="product">
        <div class="product-image">
            <img src="../../../../../assets/img/batman-arkham-knight1-a80e8acd8cdda0e16915535401463378-640-0.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <p class="product-title">Batman: Arkham Knight</p>
            <p class="product-description">El caballero de la noche, regresa con su cuarta entrega de la saga Arkham.</p>
        </div>
        <div class="product-price">$19.99</div>
        <div class="product-quantity">
            <input type="number" value="1" min="1">
        </div>
        <div class="product-removal">
            <button class="remove-product">Eliminar</button>
        </div>
        <div class="product-line-price">$19.99</div>
    </div>

    <!-- Additional Product Entries go here -->

    <div class="totals">
        <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value">$39.98</div>
        </div>
        <div class="totals-item">
            <label>Envio</label>
            <div class="totals-value">$5.00</div>
        </div>
        <div class="totals-item totals-item-total">
            <label>Total Final</label>
            <div class="totals-value">$44.98</div>
        </div>
    </div>

    <button class="checkout">Finalizar Compra</button>
</section>

</body>

