/* Puedes revisar los comentarios del datos css ya que es basicamente el mismo codigo*/
#body{
    font-family: 'Aldrich';
    background-color:#1b1a1a;
    height: 100vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #252525;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 16px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.1);
  }

  .container a {
    text-decoration: none;
    color: inherit;
  }

  .card a {
    text-decoration: none;
    color: inherit;
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 5px;
    z-index: 1;
    transition: border-color 0.3s ease;
  }
  
  .card:hover:before {
    border-color: #F57906;
    ;
  }
  
  .card i {
    width: 100px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 19px;
  } 
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff5e00;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 0;
    color: #ff5e00;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  @media (max-width: 600px) {
    .card {
      max-width: 100%;
    }
  }
  
.perfil{
    display: flex;
    margin-bottom: 30px;
    width: 100vw;
    height: 120px;
    background-color:#65d0d2;
}
.perfil h2{
    color: black;
    margin-top: 37px;
    margin-left: 5px;
}
.perfil i{
    object-fit: cover;
    margin-top: 19px;
    border-radius: 50%;
    margin-left: 15px;
}