<app-navbar></app-navbar>
  <html>
    <body id="body">  
    <div class="container">
  
      <a routerLink="/datos">
        <div class="card">
          <i> person_pin</i>
        <h2 class="card-title">Mi Perfil y Datos</h2>
        <p class="card-text">Nombre, Foto de perfil, Configuración de cuenta y Preferencias.</p>
      </div>
    </a>
  
    <a routerLink="/seguridad">
        <div class="card">
        <i class="fa-solid fa-lock fa-5x" style="color: #10c1be;"></i>
        <h2 class="card-title">Seguridad y Privacidad</h2>
        <p class="card-text">Contraseñas, Aviso de Privacidad, Solicita tu información.</p>
      </div>
    </a>
      <a routerLink="/direccion"><div class="card">
        <i class="fa-solid fa-map-location-dot fa-5x" style="color: #10c1be;"></i>
        <h2 class="card-title">Mi Dirección</h2>
        <p class="card-text">Editar, eliminar o establecer una dirección predeterminada.</p>
      </div>
    </a>
      <a routerLink="/pagos">
        <div class="card">
        <i class="fa-solid fa-credit-card fa-5x"  style="color: #10c1be;"></i>
        <h2 class="card-title">Tarjetas y Pagos</h2>
        <p class="card-text">Ver todas las transacciones, administrar métodos de pago y configuraciones.</p>
      </div>
    </a>
    </div>
  </body>
</html>