<app-navbar></app-navbar>
<mat-grid-list cols="3" rowHeight="2:1" class="productos">
    <mat-grid-tile class="producto">
      <mat-card class="example-card">
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Bloodborne
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="producto">2</mat-grid-tile>
    <mat-grid-tile class="producto">3</mat-grid-tile>
    <mat-grid-tile class="producto">4</mat-grid-tile>
    <mat-grid-tile class="producto">5</mat-grid-tile>
    <mat-grid-tile class="producto">6</mat-grid-tile>
    <mat-grid-tile class="producto">7</mat-grid-tile>
    <mat-grid-tile class="producto">8</mat-grid-tile>
    <mat-grid-tile class="producto">9</mat-grid-tile>
  </mat-grid-list>