<app-navbar></app-navbar>
<mat-grid-list cols="3" rowHeight="2:1" class="productos">
    <mat-grid-tile class="producto">1</mat-grid-tile>
    <mat-grid-tile class="producto">2</mat-grid-tile>
    <mat-grid-tile class="producto">3</mat-grid-tile>
    <mat-grid-tile class="producto">4</mat-grid-tile>
    <mat-grid-tile class="producto">5</mat-grid-tile>
    <mat-grid-tile class="producto">6</mat-grid-tile>
    <mat-grid-tile class="producto">7</mat-grid-tile>
    <mat-grid-tile class="producto">8</mat-grid-tile>
    <mat-grid-tile class="producto">9</mat-grid-tile>
  </mat-grid-list>